body {
    font-size: 18px;
    font-weight: 100;
    font-family: Spliff Joints, Roboto;
    background-color: #ffffff;
}

.header {
    background-color: #1C2531;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 50px;
	box-shadow: 0px 5px 6px 2px #7A7C82;

}

#logo {
    width: 98px;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
}

nav ul li {
    font-size: 24px;
}

a:active,a:visited,a:link {
    color:#6c9b37;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 68px;
    font-weight: 600;
    color: #385f0b;
    text-align: center;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 830px;
    box-shadow: 0px 5px 6px 2px #7A7C82;
    margin-bottom: 25px;
}

#products {
    display: flex;
    width: 100%;
    height: auto;
    padding: 25px;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.product {
    background-color: #ddd8d8;
    width: 20%;
    height: 260px;
    flex-shrink: 0;
    padding: 10px;
    margin: 25px;
    box-sizing: content-box;
    box-shadow: 0px 5px 6px 2px #385f0b;
}

.product img {
    width: 100%;
    height: 225px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    
    text-align: center;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
h3 {
    margin-top: 5px;
    text-align: center;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18;
    color: #385f0b;
}



